@model Franchise

<div class="row">
	<div class="col-12">
		<div class="card border-top border-0 border-4 border-dark">
			<div class="card-body p-5">
				<div class="card-title text-center">
					<i class="bx bxs-user-circle text-dark font-50"></i>
					<h5 class="mb-5 mt-2 text-dark">Franchise Ekle</h5>
				</div>
				<hr>
				<form class="row g-3" method="post">
					<div class="col-12">
						<label asp-for="Email" class="form-label">E-Posta</label>
						<div class="input-group input-group-lg">
							<input type="text" class="form-control border-start-0" asp-for="Email" placeholder="E-Posta">
							<span class="text-danger" asp-validation-for="Email"></span>
						</div>
					</div>
					<div class="col-12">
						<label asp-for="Phone" class="form-label">Telefon</label>
						<div class="input-group input-group-lg">
							<input type="text" class="form-control border-start-0" asp-for="Phone" placeholder="Telefon">
							<span class="text-danger" asp-validation-for="Phone"></span>
						</div>
					</div>
					<div class="col-12">
						<label asp-for="WorkingTime" class="form-label">Çalışma Zamanı</label>
						<div class="input-group input-group-lg">
							<input type="text" class="form-control border-start-0" asp-for="WorkingTime" placeholder="Çalışma Zamanı">
							<span class="text-danger" asp-validation-for="WorkingTime"></span>
						</div>
					</div>


					<div class="col-12">
						<div class="d-grid">
							<button type="submit" class="btn btn-dark btn-lg px-5"><i class="bx bxs-lock-open"></i>Kaydet</button>
						</div>
					</div>
					<hr>
				</form>
			</div>
		</div>
	</div>
</div>