<!DOCTYPE html>
<html lang="zxx">
<head>
    <partial name="_Head" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <partial name="_Menu" />
    <partial name="_Header" />
    @RenderBody()
    <partial name="_Footer" />
    <partial name="_Script" />
</body>

</html>